/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../application/sass/_b-form.sass */
.b-auth__form {
  float: left;
}

/* line 3, ../../application/sass/_b-form.sass */
.b-register__form {
  float: right;
}

/* line 6, ../../application/sass/_b-form.sass */
.b-form {
  width: 440px;
  padding-right: 20px;
}
/* line 9, ../../application/sass/_b-form.sass */
.b-form .form__error {
  color: #cc4f26;
  line-height: 16px;
}
/* line 12, ../../application/sass/_b-form.sass */
.b-form h1 {
  font-size: 24px;
  padding-bottom: 10px;
}
/* line 15, ../../application/sass/_b-form.sass */
.b-form .b-one__fieldset {
  padding-bottom: 10px;
}
/* line 17, ../../application/sass/_b-form.sass */
.b-form .b-one__fieldset label {
  width: 120px;
  display: block;
  float: left;
}

/* line 22, ../../application/sass/screen.sass */
html, body {
  min-width: 100%;
  min-height: 100%;
}

/* line 26, ../../application/sass/screen.sass */
body {
  background: white url(/img/grid.png);
  font-size: 1em;
}

/* line 30, ../../application/sass/screen.sass */
.container {
  width: 940px;
  margin: 0 auto;
}

/* line 34, ../../application/sass/screen.sass */
.logo {
  position: relative;
  background: url("/img/logo.png") center center no-repeat;
  width: 400px;
  height: 109px;
  margin: 0 auto;
}
/* line 38, ../../application/sass/screen.sass */
.main .logo {
  top: -30px;
}

/* line 41, ../../application/sass/screen.sass */
.main {
  border: 5px;
  -webkit-border-image: url("/img/border-main.png") 10 10 stretch;
  -moz-border-image: url("/img/border-main.png") 10 10 stretch;
  border-image: url("/img/border-main.png") 10 10 stretch;
}
/* line 45, ../../application/sass/screen.sass */
.main .buttons {
  text-align: center;
  margin: 1em 0;
}
/* line 49, ../../application/sass/screen.sass */
.main .buttons .big-button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 1.5em;
  padding: 1.5em 1em;
  width: 7em;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dd2121), color-stop(100%, #b11a1a));
  background-image: -webkit-linear-gradient(top, #dd2121, #b11a1a);
  background-image: -moz-linear-gradient(top, #dd2121, #b11a1a);
  background-image: -o-linear-gradient(top, #dd2121, #b11a1a);
  background-image: linear-gradient(top, #dd2121, #b11a1a);
}
