.b-auth__form, .b-register__form
  float: left

.b-register__form
  text-align: center

.b-form
  padding-right: 20px
  .form__error
    color: #cc4f26
    line-height: 16px
  h1
    padding-bottom: 10px
    font-size: 1.5em
  .b-one__fieldset
    padding-bottom: 15px
    input
      font-size: 1.1em
      padding: 0.3em
      border: none
      +box-shadow(inset rgba(black, .4) 1px 1px 3px 1px)
    label
      width: 120px
      display: block
      float: left
.b-one-group
  padding-bottom: 25px
  h3
    padding-bottom: 5px
    font-size: 18px
    font-weight: bold



