/**
 * Шапка
 */
header
  position: relative
  padding: 1em 0
  margin-bottom: 30px
  @extend .clearfix

  nav.top
    float: left
    li
      padding: 0.5em
      float: left
      a
        color: black
        text-decoration: none
  .account
    padding-top: 0.5em
    float: right
