/**
 * Шапка
 */
header
  position: relative
  padding: 1em 0
  margin-bottom: 30px
  @extend .clearfix

  nav.top
    float: left
    li
      color: black
      padding: 0.5em
      margin-right: 0.5em
      +box-sizing(border-box)
      float: left
      height: 37px
      text-align: center
      border: 7px solid transparent
      &.active
        width: 130px
        background: url(/img/menu-item-bg.png)
        &:hover
          +border-image(none)
      &:hover
        +border-image("/img/understroke.png", 7 7, stretch)

      a
        color: inherit
        text-decoration: none

  .account
    padding-top: 0.5em
    float: right
