/**
 * Основной лэйаут здесь
 */
html, body
  min-width: 100%
  min-height: 100%

body
  background: white url(/img/grid.png)
  font: 1em normal Tahoma, Arial, Verdana, sans-serif 

.container
  width: 940px
  margin: 0 auto
  .clear
    clear: both
    float: none