/**
 * Логотип
 */

.logo
  +img-like("main_logo")
  float: left
  .main &
    float: none
    margin: 0 auto
    +img-like("main_logo")
    margin-top: -50px

.slogan
  padding-left: 190px
  font-size: 23px
  +coursive