/**
 * Результаты поиска рабочих
 */
.results
  padding-top: 30px
  th, td
    padding: 1.5em
  th
    font-weight: bold
  .worker
    padding-bottom: 20px
    label
      width: 100px
      float: left
      font-weight: bold